h1, h2, h3 {
  font-weight: bolder;

}

body {
  font-family: "Montserrat";
}

/* nav bar */
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Ubuntu";
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
  font-weight: bold;
}

.nav-link {
  font-size: 1.3rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* title section */
#title {
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  background: -webkit-linear-gradient(#333333, #dd1818);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.title-image {
  position: absolute;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 100%;
}

/* features */

#features{
  background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* footer */
#footer {
  text-align: center;
  padding: 7% 15%;
  background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.social-logo {
  margin: 20px 10px;

}

/* responsive */
@media (max-width:990px) {
  .title-image {
    position: static;
  }

  .title {
    text-align: center;
  }
